.body {
	font-family: 'Source Sans Pro', sans-serif;
}
.wrap {
	min-width: 1200px;
	margin: 0 auto;
}
.header__top--color {
	background-color: #f5f7fa;
}
.header__top {
	width: 1170px;
	height: 40px;
  	line-height: 40px;
  	margin: 0 auto;
 	}
.header__top__contact {
	float: left;
	padding: 0;
    margin-bottom: 0;
	}
.header__top__contact > li {
	display: inline-block;
  	font-size: 12px;
}

.header__top__contact__mail {
	margin-right: 26px;
} 
.header__top__contact__link {
  	/*padding-left: 20px;*/
  	color: #506a85;
}
.header__top__contact__link:hover {
  	color: #00bc9c;
}
.header__top__icons {
	float: right;
}
.header__top__icons > li {
  	width: 30px;
  	height: 40px;
  	text-align: center;
  	float: left;
  	list-style-type: none;
}
.header__top__icons > li > a {
  	color: #506a85;
}
.icon {
display: block;
}
.icon__link {
	display: block;
}
.header__main__wrap {
	width: 1170px;
 	margin: 0 auto;
 	padding: 35px 0;
}
.header__main__wrap ul {
	padding: 0px;
  	margin: 0px 0px 0px 90px;
 	text-align: center;
 	display:inline-block;
    line-height: 40px;
}
.header__main__wrap li {
	list-style-type: none;
	display: inline;
}
.header__main__wrap a {
	float: left;
	color: #506a85;
}
.header__nav li {
	font-size: 14px;
    font-weight: bold;
}
.header__nav__link {
	margin-right: 40px;
}
.owl-dots {
	position: absolute;
    bottom: -28px;
    text-align: center; 
    padding: 13px;
    border-radius: 4px;
	background-color: white;
	left: 50%;
    transform: translateX(-50%);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #00bc9c;
}
.owl__item__div {
	position: absolute;
	top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
}
.owl__item__div h1 {
	font-family: 'Lato', sans-serif;
    font-size: 70px;
    margin: 0px;
    color: white;
    margin-bottom: 5px;
	padding: 0 0 0 0;
}
.h1__background{
	background-color:#506a85;
	padding: 30px;
}
.owl__item__div h4 {
	font-family:'Source Sans Pro', sans-serif;
	font-size: 19px;
	/*color: darkgrey;*/
	color: white;
    padding-top: 5px;
    line-height: 1.6;
}
.div__item--grey{
	color: darkgrey !important;
}
.div__item--bruise{
	color: #506a85 !important;
}
/*
.btn{
	background-color: #00bc9c;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	padding: 20px 65px;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	margin-top: 65px;
}
*/
.content-center{
	text-align: center;
    left: 50%;
    transform: translateX(-50%)
}
/*
.owl__item--position--right {
	
	transform: translate(-20%, -50%);
	margin-left:auto; 
	margin-right:0;
	text-align: right;
	font-weight: 400;
}
.owl__item--position--right h4{
	text-align: right;
	color: white;
}
#owl__item__button__two {
	transform: translateX(-100%);
	left: 100%;
}
.owl__item--position--left {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-90%, -50%);
    color: white;
}
.owl__item--position--left h4{
	text-align: left;
	color:#506a85;
}
.owl__item--position--left h1{
	text-align: left;
	background-color:#506a85;
}
#owl__item__button__three {
	transform: translateX(-100%);
}
.owl__item--position--right--upper {
	position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-20%, -70%);
    color: white;
}
.owl__item--position--right--upper h1 {
	background-color:#506a85;
	text-align: right;
	padding: 25px;
	margin-top: 5px;
}
.owl__item--position--right--upper h4 {
	color: white;
	text-align: right;
	padding-top: 20px;
}
#owl__item__button__four {
	transform: translateX(-100%);
    left: 100%;
    margin-top: 50px;
}
.owl__item--position--center-upper {
	text-align: center;
	position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: white;
} */
#owl__item__button__five {
	margin-top: 50px;
}
.i--color{
	color: #00bc9c;
}
.who-we-are__top-txt {
	text-align: center;
	margin-top: 130px;
    color: #506a85;
}
.who-we-are__top-txt h2 {
 	font-family:'Lato', sans-serif;
    font-size: 44px;
    margin-bottom: 40px;
 }
 .container {
 	color: #506a85; 
 	padding-top: 85px;
 	padding-bottom: 130px;
 }
 #container__i {
 	float: left;
 }
 .container__article {
 	width: 270px;
    margin-left: 30px;
 }

.latest-work {
 background-color: #f5f7fa;
 padding: 120px 0;
 text-align: center;
 }
 .contentarea {
  width: 1200px;
  margin: 0 auto;
}
.contentarea__box {
  margin-bottom: 80px;
}

.content__box__2list,
.content__box__4list {
  float: left;
  margin-right: 30px;
}
.content__box__2list:last-child,
.content__box__4list:last-child {
  margin-right: 0;
}

.contentarea__box li {
	list-style-type: none;
	display: inline;
}


/*****************/

.no_top_margin {
	margin-top: 0px;
}

.slajd_dugme {
	background-color: #00bc9c;
	padding: 20px 65px;
	color: white;
	font-size: 15px;
	font-weight: 700;
	margin-top: 45px;
	text-align: center;
}
.polaroid {
	background-color: white;
}
.polaroid > img {
	width: 100%;
}
.polaroid__bottom {
	padding-top: 20px;
    padding-bottom: 20px;
}
.polaroid__bottom > h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin: 0px;
}
.polaroid__bottom > h6 {
	font-family:'Source Sans Pro', sans-serif;
	margin: 0px;
	margin-top: 5px;
}
.work__header {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
.work__header > h1 {
	margin-bottom: 20px;
}
.work__header > h4 {
	font-family:'Source Sans Pro', sans-serif;
	margin-bottom: 70px;
}
.latest-work {
	background-color: #f2f5f7;
}
.get-in-touch {
	margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #506a85; 
}
.get__div > h4 {
	font-family:'Source Sans Pro', sans-serif !important;
}
.footer {
	background-color: #2f4052;
	color: #a3b1bf;
	font-family:'Source Sans Pro', sans-serif;
	padding-top: 75px;
    padding-bottom: 75px;
}
.footer__div > h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: white;
	margin-bottom: 25px;
}
.footer__div > p {
	line-height: 1.6;
	margin: 20px 0px;
}

.footer__nav {
  float: right;
}
.footer__nav__list {
  display: inline-block;
  font-size: 14px;
  /*margin-right: 5px;*/
  color: #a3b1bf;
}
.footer__nav__list:last-child {
  margin-right: 0;
}


.li_tacka {
  display: inline-block;
    font-size: 14px;
    /* margin-right: 5px; */
    color: #a3b1bf;
}


#footer__bottombox {
	background-color: #283645; 
	padding-top: 30px; 
	padding-bottom: 30px;
	color: #a3b1bf;
}

